.mainBullet {
  width: 5px;
  height: 8px;
  border-radius: 50% 50% 50% 50%/90% 90% 0 0;
  overflow: hidden;

  position: absolute;

  // animation-iteration-count: infinite; //  循环播放
  animation-timing-function: linear; //  匀速
}
