.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .top {
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: STXingkai;
    z-index: 9999999;
    .logo {
      width: 10%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        height: 50px;
      }
    }
    .remark {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .remark-title {
        font-size: 28px;
      }
      .remark-content {
        font-size: 18px;
      }
    }
  }

  .content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;

    .RottenPenHead-menu {
      padding-top: 5px;
      height: calc(100% - 5px);
      width: 10%;
    }

    .RottenPenHead-main {
      height: 100%;
      width: 90%;
    }
  }
}
