.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  overflow: hidden;
  .time {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .iconRain {
    position: absolute;
    top: -50px;
    color: #000;
    font-size: 24px;
    animation: rain 3s linear infinite;
    z-index: -1000;
  }

  @keyframes rain {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translateY(90vh);
      opacity: 0;
    }
  }
}
