.threeThreeMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  .box {
    width: 500px;
    height: 300px;
    position: absolute;
    // border: 5px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    overflow: hidden;
    background-color: #ffffff1a;
    .btn {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  // 通过伪类实现，但背景不能是透明
  // .box::before {
  //   content: "";
  //   position: absolute;
  //   height: 300px;
  //   width: 300px;
  //   background: radial-gradient(#01d17d, transparent, transparent);
  //   transform: translate(-250px, -150px);
  //   animation: animate 2s linear infinite;
  // }
  // @keyframes animate {
  //   0% {
  //     transform: translate(-250px, -150px);
  //   }
  //   25% {
  //     transform: translate(250px, -150px);
  //   }
  //   50% {
  //     transform: translate(250px, 150px);
  //   }
  //   75% {
  //     transform: translate(-250px, 150px);
  //   }
  //   100% {
  //     transform: translate(-250px, -150px);
  //   }
  // }
  // .box::after {
  //   content: "";
  //   position: absolute;
  //   inset: 5px;
  //   border-radius: 10px;
  //   background-color: #040f1a;
  // }
  // .box:hover::before {
  //   animation: none;
  //   background: transparent;
  // }
  // .box:hover {
  //   box-shadow: 0 0 4px #01d17d, 0 0 4px #01d17d, 0 0 80px #01d17d;
  // }

  // 通过兄弟元素实现
  .run1 {
    position: absolute;
    width: 50px;
    height: 10px;
    // transform: translate(0, -154px);
    border-radius: 5px;
    animation: animate1 1s linear infinite;
    // animation-delay: 0s;
    // background-color: aqua;
  }
  @keyframes animate1 {
    from {
      transform: translate(-250px, -150px);
    }

    to {
      transform: translate(250px, -150px);
    }
  }
  .run2 {
    position: absolute;
    width: 10px;
    height: 50px;
    // transform: translate(254px, 0);
    border-radius: 5px;
    animation: animate2 1s linear infinite;
    // animation-delay: 2s;
    // background-color: aqua;
  }
  @keyframes animate2 {
    from {
      transform: translate(250px, -150px);
    }

    to {
      transform: translate(250px, 150px);
    }
  }
  .run3 {
    position: absolute;
    width: 50px;
    height: 10px;
    // transform: translate(0, 154px);
    border-radius: 5px;
    animation: animate3 1s linear infinite;
    // animation-delay: 4s;
    // background-color: aqua;
  }
  @keyframes animate3 {
    from {
      transform: translate(250px, 150px);
    }

    to {
      transform: translate(-250px, 150px);
    }
  }
  .run4 {
    position: absolute;
    width: 10px;
    height: 50px;
    transform: translate(-254px, 0);
    border-radius: 5px;
    animation: animate4 1s linear infinite;
    // animation-delay: 6s;
    // background-color: aqua;
  }
  @keyframes animate4 {
    from {
      transform: translate(-250px, 150px);
    }

    to {
      transform: translate(-250px, -150px);
    }
  }
}
