.login-menu {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-bg {
    width: 100vw;
    height: 100vh;
    background-color: #00b4ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    position: absolute;
    z-index: -1000;
    .cloud1 {
      animation: cloud1 15s linear infinite;
      position: absolute;
      left: 0;
      opacity: 0;
    }
    @keyframes cloud1 {
      0% {
        transform: translateX(0vw);
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        transform: translateX(calc(100vw - 450px));
        opacity: 0;
      }
    }
    .cloud2 {
      animation: cloud2 15s linear infinite;
      position: absolute;
      right: 0;
      opacity: 0;
    }
    @keyframes cloud2 {
      0% {
        transform: translateX(0vw);
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        transform: translateX(-100vw);
        opacity: 0;
      }
    }
  }
  .login-form {
    width: 500px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    .icon {
      width: 143px;
      height: 93px;
    }
    .form-content {
      width: 400px;
      height: 250px;
      margin-top: 20px;
      border-top: 1px solid #b1aaaa;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 200;
      }
    }
  }
}
